<h1>Update Student</h1>

<%= form_for (@student) do |f| %>
   <%= f.label "Student first name:" %>
   <%= f.text_field :first_name %> <br>

   <%= f.label "Student last name:" %>
   <%= f.text_field :last_name %> <br>

   <%= f.submit %>
<% end %>